{% extends "layout.html" %}

{% block page_title %}
    Applicant info:
{% endblock %}


{% block content %}
    <div id="applicants">
    <table  style="width:50%">
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number:</th>
              <th>Email:</th>
              <th>Code:</th>
          </tr>


        {% for applican in applicant_info %}
            <td> {{ applican.first_name }}</td>
            <td> {{applican.last_name }}</td>
            <td>{{ applican.phone_number }}</td>
            <td>{{ applican.email }}</td>
            <td>{{ applican.application_code }}</td>


    </div>
    </table>

    <form action="/update_nr/{{ applican.application_code }}",  method="POST">
        <input type="text" name="new_nr" placeholder="Enter new number">
        <button type="submit">Change phone number</button></form>

    <form action="/delete/{{ applican.application_code }}",  method="POST">
        <button name="delete" type="submit">Delete user</button></form>

{% endfor %}

    {% include 'footer.html' %}
{% endblock %}
